[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
gunicorn = "*"
faker = "*"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
